<html>
    <head>
        <title>AK.in</title>
        <link rel="stylesheet" text="text/css" href="/static/css1/style.css">
        <body>
            <div class="Sign-Up-Form">
                <img src="/static/user-Icon.png">
                <h1>Contact Us</h1>
               <form action="/contact1" method="post" >
                    <p>Name: <input type="text" name="name"placeholder="Name"></p>
                   <p>EMail: <input type="email"  name="email" placeholder=" Email"></p>
                 <p>subject: <input type="text" name="subject"placeholder="subject"></p>
                 <p>msg: <input type="text" class="input-box" name="message"placeholder="message"></p>
                   <button type="submit" class="signup-btn">submit</button>
                    </form>
        </body>
    </head>
    </html>